.Layout {
  margin: 0;
  color: white;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.Main {
  margin: 64px 0;
  height: stretch;
}
@media (max-width: 1080px) {
  .Main {
    margin-right: 56px;
  }
}
@media (max-width: 800px) {
  .Main {
    margin: 64px 0;
  }
}
